// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// LOGO COLOR
$logo-color: #000000;

// OUR COLORS
$canvas: #F0F0F0; // use as primary background
$ink: #505050; // use as primary text color for body and general text
$sunshine: #FFD131; // use as primary buttons, CTAs, and key interactive elements to grab attention
$plum: #6A497A; // use as for footer, secondary text color for headers, or any contrasting elements that need distinction
$blush: #F06C6C; // use for alerts, notifications, or any elements that need to stand out softly without overwhelming the design
