// Specific CSS for your home-page

body {
  background-color: $canvas;
}

.logo-container {
  background-color: $canvas;
  width: 300px;
  margin: 0 auto; // center the logo within the container
  }

.app-logo {
    height: auto;
    display: block;
    width: 100%;
}


.app-slogan {
  font-family: $headers-font;
  font-size: 16px;
  font-weight: 300;
  color: $plum;
  text-align: right;
  margin-top: -18px;
  margin-bottom: 12px;
}

.scroll-titles {
  font-family: $body-font;
  font-size: 14px;
  font-weight: 400;
  color: $plum;
}

.category-item {
  display: flex;
  width: fit-content !important;
  justify-content: center;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2.5px solid #B6CE42;
  border-radius: 25px;
  input {  border: transparent; }

  .title {
    // width: 120px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    align-content: center;
  }

}

