
<link rel="stylesheet" href="styles.css">
<ul class="footer">
  <li>
    <i class="fa-solid fa-house"></i>
    <span>Home</span>
  </li>
  <li>
    <i class="fa-solid fa-location-dot"></i>
    <span>Near You</span>
  </li>
  <li>
    <i class="fa-regular fa-heart"></i>
    <span>Wishlist</span>
  </li>
  <li>
    <i class="fa-regular fa-user"></i>
    <span>Profile</span>
  </li>
</ul>
