<ul class="footer">
  <li class="footer-menu-item">
    <a href="<%= root_path %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24">
        <path class="icon-path" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m3 12l2-2m0 0l7-7l7 7M5 10v10a1 1 0 0 0 1 1h3m10-11l2 2m-2-2v10a1 1 0 0 1-1 1h-3m-6 0a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1m-6 0h6" />
      </svg>
    </a>
  </li>

  <li class="footer-menu-item">
    <a href="<%= root_path %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24">
        <g class="icon-path" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <path d="M17.657 16.657L13.414 20.9a2 2 0 0 1-2.827 0l-4.244-4.243a8 8 0 1 1 11.314 0" />
          <path d="M15 11a3 3 0 1 1-6 0a3 3 0 0 1 6 0" />
        </g>
      </svg>
    </a>
  </li>

  <li class="footer-menu-item">
    <a href="<%= wishlist_path %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24">
        <path class="icon-path" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 0 0 0 6.364L12 20.364l7.682-7.682a4.5 4.5 0 0 0-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 0 0-6.364 0" />
      </svg>
    </a>
  </li>

  <li class="footer-menu-item">
    <a href="<%= profile_path %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24">
        <path class="icon-path" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 1 1-8 0a4 4 0 0 1 8 0m-4 7a7 7 0 0 0-7 7h14a7 7 0 0 0-7-7" />
      </svg>
    </a>
  </li>
</ul>
