
<link rel="stylesheet" href="styles.css">
<ul class="footer">
  <li>
    <a href=<%= root_path %>> <i class="fa-solid fa-house"></i> </a>
    <span>Home</span>
  </li>
  <li>
    <i class="fa-solid fa-location-dot"></i>
    <span>Near You</span>
  </li>
  <li>
    <a href=<%= wishlist_path %>> <i class="fa-regular fa-heart"></i> </a>
    <span>Wishlist</span>
  </li>
  <li>
    <a href=<%= profile_path %>> <i class="fa-regular fa-user"></i> </a>
    <span>Profile</span>
  </li>
</ul>
