
<div class="search-bar row justify-content-center">
<div class="col-sm-8 my-3">
    <%= form_with url: search_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "type a city"
        %>
    <%= submit_tag "", name: "", class: "btn btn-secondary" do %>
   <i class="fa fa-search" aria-hidden="true"></i>
     <% end %>
    <% end %>
    <!-- <p style="color: rgba(0, 0, 0, 0.477); padding-top: 5px;"><em>Results...</em></p> -->
</div>
</div>
