<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- ICONS -->
<div class="icon-group">
  <span class="material-symbols-outlined custom-icon-style">local_cafe</span>


<span class="material-symbols-outlined">
bedroom_baby
</span>

</div>
