.home-card {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    // background-color: #f5dbdb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .home-card-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }

  .home-card-content{
    justify-content: start;
    margin-top: 10px;
  }