.mapboxgl-popup {
    max-width: 200px;

    a {
      text-decoration: none;
      border: transparent;
      color: $blush;
    }

    a:hover {
      color: $ink;
    }

    h5 {
        border: transparent;
        margin: 0px;
        font-weight: bold;
    }

    img {
      width: 210px;
      height: 155px;
      padding-bottom: 9px;
      // border-radius: 10px;
      object-fit: cover;
    }
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;

    p {
      font-size: 12px;
      margin: 0;
    }
  }