
.highlight {
  color: #f06C6C;
}


hr {
  border: none;
  height: 2px;
  background-color: black;
  width: 100%;
  margin: 20px 0;
}

.centered-text {

  text-align: center;
}

.input-content {
  background-color: yellow;
  color: yellow;
}
