.content-box1 {
  text-align: left;

}

.rec-container {
  overflow-x: auto;
  padding: 15px;
}

.tags-container {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
}

.tag p {
  font-size: 11px;
  padding: 8px;
  background-color: $sunshine;
  width: fit-content;
  margin: 8px;
}

.p-color {
  color: white;
  background-color: #f06C6C !important;
}

.highlight {
  color: #f06C6C;
}

.centered-text {
  margin-top: 20px;
  text-align: center;
  color: #6A497A;
}

.input-content {
  width: 400px;
  height: 400px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  overflow: auto;
  font-size: 16px;
}

.restaurant-name {
  font-size: 24px;
  text-align: center;
  color: #6A497A;
}

.button-recommendation{
  color: white;
  background-color: #f06C6C;
}

textarea.form-control{
width: 364px;
border-color: $sunshine;
height: 250px;
border: 3px solid $sunshine;
padding-left: 10px;
justify-content: center;
align-items: center;
display: flex;
}

textarea.form-control::placeholder {
  color: darkgray;
  opacity: 1;
}

.photos{
  margin-top: 15px;
}
