// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// Signup form
.devise-form {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
}

.app-container {
    margin-bottom: 100px;
}